{% load leaflet_tags %}

{% leaflet_css %}
{% leaflet_js %}

<style>

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

</style>
<div>
    <h1>{{ worldborder.name }}</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js"
        integrity="sha256-V9GWip6STrPGZ47Fl52caWO8LhKidMGdFvZbjFUlRFs="
        crossorigin="anonymous">
</script>
<script type="text/javascript">

    function map_init(map, options) {
        // get the polygon shape for the region
        var region = {{ worldborder.mpoly.json|safe }};
        // get point lat and lon
        console.log({{ worldborder.default_zoom|safe }});
        var point = turf.centroid(region);
        // zoom to point & add it to map
        map.setView([
                point.geometry.coordinates[1], point.geometry.coordinates[0]
            ], {{ worldborder.default_zoom|safe }});
        L.marker([
                point.geometry.coordinates[1], point.geometry.coordinates[0]
            ]).addTo(map)
            .bindPopup("{{ worldborder|safe }}")
            .openPopup();
        L.geoJSON(region).addTo(map);
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js" integrity="sha256-V9GWip6STrPGZ47Fl52caWO8LhKidMGdFvZbjFUlRFs=" crossorigin="anonymous"></script>