{% extends 'world/base.html' %}
{% load leaflet_tags %}
{% block head %}
<style>

    .leaflet-container  {  /* all maps */
        width:  600px;
        height: 400px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }
    .sk-chase-container {
        padding-left: 20%;
        padding-top: 12.5%;
    }
</style>
{% endblock head %}
{% block content %}
<div>
    <div class="sk-chase-container" id="loading">
        <div class="sk-chase">
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
          <div class="sk-chase-dot"></div>
        </div>
    </div>
    {% leaflet_map "main" callback="map_init" fitextent=True creatediv=True %}
</div>
<select id="division" style="display: none">
{% for countrydivision in countrydivision_list %}
    <option value="{{ countrydivision.url }}"><a href="{{ countrydivision.url }}">{{ countrydivision.name_2 }}</a></option>
{% endfor %}
</select>
{% endblock content %}
{% block js %}
<script type="text/javascript">
    var map = undefined;
    function onEachFeature(feature, layer) {
        // Do all your popups and other binding in here
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.popup_content) {
            layer.bindPopup(feature.properties.popup_content);
        }
    }
    function map_init(map, options) {

        // get the polygon shape for the region
        var regions = {{ geometry_list|safe }};

        a = L.geoJSON(regions, {
            weight: 1,
            onEachFeature: onEachFeature
        }).addTo(map);

        // get point lat and lon
        var zoom_factor = {{ countrydivision_list.0.world_border.default_zoom|default:1 }};
        // zoom to point & add it to map
        var lon = {{ countrydivision_list.0.world_border.lon|safe }};
        var lat = {{ countrydivision_list.0.world_border.lat|safe }};
        map.setView([lat, lon], zoom_factor);
    }

    $('#loading').hide();
    $('#division').hide().select2().on('change', function (e, a, b, c) {
        window.location = $(this).children(':selected').val()
    });
</script>
{% endblock %}